* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}



/* Variables */

:root {

    --space: 2rem;
    --main-color: #e82274;
    --pink-color: #ff8e9d;
    --pink-opacity: #ffe6e9;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter: blur(5px);
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);

}



/* Global */



html {
    scroll-behavior: smooth;
}



/* Button */

.btn {

    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    font-size: 20px;
    cursor: pointer;
    position: relative;

}



.btn::before {

    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 30px;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
    text-align: center;

}



.btn:hover::before {
    width: 100%;
}



.btn:hover {
    color: #fff;
}



/* Empty Box */

.empty {

    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: 1.5rem;
    text-align: center;
    margin: 2rem auto;
    margin-bottom: 2rem;
    width: 50vw;
    line-height: 2;
    border-radius: .5rem;

}



.empty p {
    font-size: 20px;
    padding-bottom: 2rem;

}



/* Input */

input[type='submit'] {
    cursor: pointer;
}



input[type='submit']:hover {
    color: var(--main-color);

}



/* Box Container */

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 1rem;

}



.box-container .box {

    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    margin: 1rem;

}



/* Headings */

.heading {

    text-align: center;
    line-height: 1.5;
    font-size: 2rem;

}



.heading h1 {
    text-transform: capitalize;
}



.heading span {

    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;

}



.heading img {

    margin-top: .5rem;
    width: 150px !important;
    height: auto !important;

}



section,

.post-editor {

    width: calc(100% - 260px);
    min-height: 100vh;
    padding: 4%;
    margin: 80px 0 2% 260px;

}



.flex-btn {

    display: flex;
    justify-content: space-between;

}



.flex-btn .btn {
    margin: 5rem;
}



/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}



::-webkit-scrollbar-thumb {

    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--pink-color);
    position: relative;

}



::-webkit-scrollbar-track {

    background-color: transparent;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;

}



/* Form container */

.form-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 4% 0;
    position: relative;

}



.form-container form {

    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;

}



.form-container form .flex {

    display: flex;
    gap: 2rem;

}



.form-container form .flex .col {
    flex: 1 1 100%;
}



.form-container .box {
    width: 100%;
}



.form-container .login {
    width: 50rem;
}



.form-container .register {
    width: 60rem;
}



.form-container .register .img-box {

    text-align: center;

    margin-bottom: 1rem;

}



.form-container .register .img-box img {

    width: 180px;

    height: 180px;

    border-radius: 50%;

    text-align: center;

    padding: 10px;

    background-color: var(--main-color);

}



.form-container form h2 {

    text-align: center;

    font-size: 2rem;

    margin-bottom: 1rem;

    color: var(--main-color);

    text-transform: capitalize;

    font-weight: bolder;

}



.form-container form p {

    padding-top: 1rem;

    font-size: 1.2rem;

    text-transform: capitalize;

}



.form-container form p span {

    color: red;

}



.form-container form .link {

    padding-bottom: 1rem;

    font-size: 1.2rem;

    text-transform: capitalize;

}



.form-container form .link a {

    color: var(--main-color);

}



.form-container form .link a:hover {

    color: var(--pink-color);

    text-decoration: underline;

}



.form-container form .box {

    background-color: var(--white-alpha-25);

    border: 2px solid var(--white-alpha-40);

    backdrop-filter: var(--backdrop-filter);

    box-shadow: var(--box-shadow);

    width: 100%;

    border-radius: .5rem;

    margin: .5rem;

    font-size: 1.5rem;

    padding: 1rem;

}



.form-container form textarea {

    height: 20rem;

    resize: none;

}



.form-container form .btn {

    width: 100%;

    font-size: 1.3rem;

}



.form-container img {

    height: 30rem;

}



.post-editor input[type='submit'] {

    width: 49%;

}



.order-container input[type='submit'] {

    width: 50%;

    padding: 1rem;

}

